@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

body {
  background: #eab34b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  justify-content: center;
  align-items: center
}

.TodoWrapper {
  background: #ce2721;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  align-items: center;
  display: flex;
  place-self: center;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #f8f7f7;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #f5d6d6;
}

.todo-btn {
  background: #eb9702;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}

.Todo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f79696;
  color: #050505;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.vamosIniciar {
    font-size:25px;
    line-height: 45px;
    margin-top: 45px;
    font-family: 'Poppins', sans-serif;
    color: #d7e0ff;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}
.facaAlegria {
    font-size:25px;
    line-height: 45px;
    margin-top: 45px;
    font-family: 'Poppins', sans-serif;
    color: #d7e0ff;
    text-align: center;
    font-style: normal;

}
.contaner{
 position: relative;
}
.imgTodo{
  position: absolute;
  width: 310px; 
  height: 200px;
  top:31%;
  left: 60%;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #f1f1f1;
  
  text-decoration: line-through;
}
.botoesTodo{
  margin-left: 1%;
}